<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>ホームページ</h1>
    <a href="/campgrounds/new">新規登録する</a>
</body>
</html>